@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap");
/* imprortando fonts */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: column;

    background-color: #141414;
}

/* começo adição cabeçario */
header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #b9a238;
}


h1 {
    font-size: 48px;
    font-weight: bolder;
    color: whitesmoke;
    display: flex;
    align-items: center;
    margin-left: 90px;
}

nav {
    display: flex;
    align-items: center;
    margin-right: 90px;
}

nav a,
.e {
    text-decoration: none;
    color: whitesmoke;
    font-size: 42px;
    margin-left: 3px;
}

#subCont {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.der:hover {
    text-decoration: none;
    color: rgb(210, 186, 0);
    margin-left: 3px;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}

.ow {
    display: flex;
    justify-content: space-between;
}

.ow:hover {
    color: #ebda45;
}

#cont {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    display: none;
    position: absolute;
    right: 0;
    margin-right: 50px;
    top: 80px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.in a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}

.in {
    margin: 0 !important;
}

.in {
    margin-right: 30px;
    color: whitesmoke;
    font-weight: bold;
}

/* fim edição cabeçario */
/* começo footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: auto;
    height: 70px;
    font-family: "Poppins";
}

footer p {
    font-size: 25px;
    margin-right: 0;
}

/* fim do footer */
/* modal lgin */
#sumir {
    display: none;
    position: absolute;
    position: fixed;
    z-index: 9999;
}

#fundomodal {
    background-color: #4d400825;
    width: 100vw;
    height: 100vh;

    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#login {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to left top, #f7cd23, #dbab0d);
    width: 300px;
    height: 360px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 32px 0 rgba(121, 96, 12, 0.199);
}

/* fim ajustes modal */
/* cabeçario */
.co {
    flex-direction: row;
    display: flex;
    align-self: center;
    margin-bottom: 9px;
}

.co input {
    padding: 20px;
    border-color: #141414;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    background-color: #dbab0d;
}

.co span {
    color: #473b05;

    margin-left: 5px;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

h3 {
    font-size: 30px;
}

#cabecario {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 100px;
}

#cabecario h3 {
    margin-left: 110px;
}

#vacaAd {
    border-radius: 50%;
    width: 33px;
    height: 33px;
}

#a {
    display: none;
    cursor: pointer;
}

/* fim do cabeçario */
/* começo do modal */
.io {
    font-family: "Poppins";
    font-weight: bolder;
    font-size: 19px;
    padding: 5px 14px;
    color: #141414;
    background-color: #ffe600;
    border-radius: 50%;
    margin-bottom: 30px;
    margin-top: 0;
    cursor: pointer;
}

.io:hover {
    color: #ffe600;
    background-color: #141414;
}

#btnLog {
    align-self: center;
    width: 100px;
    padding: 10px;
    border-radius: 7px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.3px;
    color: #141414;
    background-color: #ffe600;
}

#btnLog:hover {
    color: #ffe600;
    background-color: #141414;
}

h2 {
    font-size: 15px;
}

#btnCad {
    font-family: "Poppins", sans-serif;
    width: 140px;
    padding: 10px;
    border-radius: 7px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.3px;
    color: #141414;
    background-color: #ffe600;
    margin-bottom: 30px;
}

#btnCad:hover {
    color: #ffe600;
    background-color: #141414;
}

#sobre {
    display: flex;
    flex-direction: column;
}

h4 {
    font-weight: 600;
    font-size: 40px;
    margin-left: 60px;
    color: #ffffff;
}

.sub {
    font-size: 32px;
    font-weight: 600;
    margin-left: 60px;
    color: #ffe600;
}

.ok {
    letter-spacing: 3.5px;
    font-weight: bolder;
}

.conteudo {
    font-weight: 500;
    font-size: 24px;
    margin-left: 60px;
    color: white;
    width: 800px;
}

.divul {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 32px;
    margin-left: 200px;
    letter-spacing: 0.13em;
    color: #fff96c;
}

#ppp {
    width: 387px;
    height: 75px;
    background: #ffe600;
    border-radius: 6px;
    margin-top: 30px;
    margin-left: 170px;
}

#ppp a {
    font-family: "Poppins";
    font-weight: 900;
    font-size: 32px;
    text-decoration: none;
    color: #141414;
    padding-left: 130px;
    padding-right: 130px;
}

#ppp:hover {
    background-color: #141414;
}

#ppp a:hover {
    color: #ffe600;
}

/* fim do modal */
/* modal cad */

#desp {
    /* display: none; */
    position: absolute;
    z-index: 9999;
    position: fixed;
    display: none;

}

#modalCad {
    background-color: #4d400825;
    width: 100vw;
    height: 100vh;
  
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #cadastre {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to left top, #f7cd23, #dbab0d);
    width: 800px;
    height: 346px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 32px 0 rgba(121, 96, 12, 0.199);
  }
  
  #erro {
    width: 800px;
    height: 34px;
    background-color: rgb(177, 11, 11);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-bottom: 2px;
    z-index: 999999999999;
    display: none;
  }
  
  #erro p {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1.5px;
  }
  
  #cabecario {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 100px;
  }
  
  #cabecario1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 100px;
  }
  
  #cabecario h3 {
    margin-left: 110px;
  }
  
  #cabecario1 h3 {
    margin-left: 110px;
  }
  
  #h7 {
    font-size: 39px;
    font-weight: 900;
    align-self: center;
  }
  
  #s0 {
    display: flex;
    margin-bottom: 17px;
  }
  
.cad {
    margin-bottom: 9px;
    margin-left: 20px;
}

.in {
    height: 50px;
    border-radius: 6px;
    color: #473b05;
    background-color: #dbab0d;
}

.a3 {
    font-size: 32px !important;
    color: #856e14;
}

#btnCas {
    align-self: center;
    width: 100px;
    padding: 10px;
    border-radius: 7px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.3px;
    color: #141414;
    background-color: #ffe600;
}

#btnCas:hover {
    color: #ffe600;
    background-color: #141414;
}

.tu {
    margin-left: 325px !important;
}

.slideshow-container {
    /* max-width: 1900px; */
    width: 90%;
    margin: auto;
    padding: 10px;
    margin: auto;
    height: 100px;
}

.slideshow-container img {
    border-radius: 20px;
    display: none;
}

/* fim do slide */

#cards {
    background-color: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.po {
    color: #00000000;
    -webkit-text-stroke: 1px #fff;
    margin-right: 30px;
}

h5 {
    font-weight: 900;
    font-size: 58px;
    color: #ffe600;
    letter-spacing: 1.5px;
}

#tCards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
}

.cards {
    width: 240px;
    height: 300px;
    margin: 10px;
    border-radius: 20px;
    background-color: #473b05;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease;
}

.cards:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.cards:hover .overlay {
    opacity: 1;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    color: #fff;
    opacity: 0;
    transition: 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.overlay h6 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 10px;
}

.overlay .uo {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}

#n1 {
    background-image: url(../img/cama.webp);
}

#n2 {
    background-image: url(../img/cama1.webp);
}

#n3 {
    background-image: url(../img/camaa.webp);
}

#n4 {
    background-image: url(../img/cammma.webp);
}

#n5 {
    background-image: url(../img/b1.webp);
}

#n6 {
    background-image: url(../img/b2.webp);
}

#n7 {
    background-image: url(../img/b3.png);
}

#n8 {
    background-image: url(../img/racao-1.webp);
}

#n9 {
    background-image: url(../img/racao-2.webp);
}

#n10 {
    background-image: url(../img/racao-3.webp);
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Poppins";
    position: sticky;
  }
  
  footer p {
    font-size: 25px;
  }

@media (max-width: 992px) {
    #container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    nav {
        margin-right: 10px;
    }

    h1 {
        font-size: 30px;
        margin-left: 10px;
    }

    #pt1 {
        flex-direction: column;
        width: 100%;
        margin-right: 0;
    }

    #pt2 {
        flex-direction: column;
        width: 100%;
        margin-top: 0;
    }

    #cadastros {
        display: flex;
        justify-self: center;
        width: 100%;
      }
    

    #columnchart_values {

        margin-bottom: 100px;
    }

    #barchart_values {
        width: 50%;
    }

    .overlay {
        opacity: 1;
    }
}

#cabecario {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 100px;
}

#cabecario1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 100px;
}

#cabecario h3 {
    margin-left: 110px;
}

#cabecario1 h3 {
    margin-left: 110px;
}

@media (max-width: 768px) {
    #container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    nav {
        margin-right: 10px;
    }

    h1 {
        font-size: 30px;
        margin-left: 10px;
    }

    #pt1 {
        flex-direction: column;
        width: 100%;
        margin-right: 0;
    }

    #pt2 {
        flex-direction: column;
        width: 100%;
        margin-top: 0;
    }

    #vendas {
        width: 100%;
        display: flex;
        justify-self: center;
    }

    #colunas {
        display: flex;
        align-self: center;
        width: 100%;
    }

    #pizza {
        display: flex;
        align-self: center;

    }

    #cadastros {
        display: flex;
        justify-self: center;
        width: 100%;
    }

    #chart_div {
        width: 360px;
        height: 300px;
        margin-bottom: 10px;
    }

    #curve_chart {
        width: 360px;
        height: 300px;
        margin-bottom: 10px;
    }

    #barchart_values {
        width: 360px;
        height: 300px;
        margin-bottom: 10px;
    }

    #columnchart_values {
        width: 360px;
        height: 300px;
        margin-bottom: 10px;
    }

    #pizzaDec {
        width: 360px;
    }

    #coluDec {
        width: 360px;
    }

    #coluCad {
        width: 360px;
    }

    #coluVen {
        width: 360px;
    }

    #cadastre {
        width: 300px;
        height: 700px;
    }

    #cadastre {
        width: 300px;
        height: 700px;
      }
    
      #cabecario1 {
        margin-right: 500px;
        margin-top: 75px;
      }
    
      #cabecario1 h3 {
        font-size: 20px;
        padding-right: 65px;
        padding-left: 25px;
        margin-top: 20px;
      }
    
      #s0 {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
      }
    
      #s0 input {
        width: 200px;
        height: 40px;
      }
    
      #btnCas {
        margin-bottom: 120px;
      }
    
      #cadastros {
        display: flex;
        justify-self: center;
        width: 100%;
      }
    
      #erro {
        width: 300px;
        height: 34px;
      }
    
      #erro p {
        font-size: 10px;
      }
    
    .po {
        color: #00000000;
        -webkit-text-stroke: 1px #fff;
        margin-right: 15px;
    }
    
    h5 {
        font-weight: 900;
        font-size: 40px;
        color: #ffe600;
        letter-spacing: 1.5px;
    }
    .cards {
        width: 160px;
        height: 250px;
        margin: 10px;
        border-radius: 20px;
        background-color: #473b05;
        background-size: cover;
        background-position: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transition: transform 0.5s ease;
    }
    .overlay {
        opacity: 1;
    }
}